body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #EFF3F6;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.8);
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #EFF3F6;
    font-size: medium;
}

@media only screen and (max-width: 360px) {
    nav a {
      font-size: small;
    }
}

nav a:hover {
    color: #309CE7;
}

section {
    height: 100vh;
    display: flex;
}

h1 {
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
}

@media only screen and (max-width: 805px) {
    section {
      height: auto;
      padding: 40px 10px 10px 10px;
    }
}

.main {
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center; 
}

.main img {
    max-width: 50%;
    max-height: 60vh;
    margin: 20px;
}

#about {
    height: minmax(95vh, 100vh);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#about img {
    max-width: 40vw;
    max-height: 60vh;
}

.about {
    max-width: 40vw;
}

.about p {
    font-size: x-large;
}

@media only screen and (max-width: 1000px) {
    .about {
      max-width: 80%;
    }
}

#projects {
    margin: 3vh 2vw 2vh 2vw;
    padding: 2vmax;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 400px;
    margin: 2vh 2vw 2vh 2vw;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #1573B5;
    overflow: hidden;
}

@media only screen and (max-width: 450px) {
    .card {
      width: 100%;
    }

    .card h2 {
        font-size: medium;
    }
}

@media only screen and (max-width: 300px) {
    .card {
      width: 100%;
      font-size: small;
    }
}

.card > .wallpaper img {
    object-fit: contain;
}

.card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1vh 1.5vw 1vh 1.5vw;
}

.card-content a{
    margin: 10px;
}

.card-content svg:hover path{
    fill: #121212;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

svg:hover path{
    fill: #309CE7;
}