---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
import Grid from '../components/Container.astro';
import Card from '../components/TechCard.astro';

const technologies = [
	["Docker", "docker"],
	["NGINX", "nginx"],
	["Google Cloud", "gcp"],
	["AWS", "aws"],
	["DigitalOcean", "digitalocean"],
	["Git", "git"],
	["C++", "cpp"],
	["C", "c"],
	["Go", "go"],
	["TypeScript", "ts"],
	["JavaScript", "js"],
	["Node JS", "nodejs"],
	["Python", "py"],
	["Java", "java"],
	["C#", "csharp"],
	["Elixir", "exs"],
	["Dart", "dart"],
	["React JS", "react"],
	["Astro", "astro"],
	["Next JS", "next"],
	["Flutter", "flutter"],
	["TailwindCSS", "twcss"],
	["Express JS", "express"],
	["Spring Boot", "spring"],
	["Flask", "flask"],
	["FastAPI", "fastapi"],
	["PostgreSQL", "psql"],
	["MySQL", "mysql"],
	["MongoDB", "mongo"],
	["DynamoDB", "dynamodb"],
	["Neo4j", "neo4j"],
	["Linux", "linux"],
	["Unity", "unity"],
	["Arduino", "arduino"],
	["Raspberry Pi", "raspi"],
]

const learning = [
	["Rust", "rust"],
	["Phoenix", "phx"],
	["GraphQL", "graphql"],
	["ScyllaDB", "scylladb"],
	["Kubernetes", "k8s"],
	["Kafka", "kafka"],
]
---

<BaseLayout
	title="Technologies"
	description="Some of the technologies I've worked with."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Technologies"
				tagline="Some of the technologies I've worked with."
				align="start"
			/>
			<Grid variant="offset">
				{
					technologies.map(([title, image]) => (
						<Card title={title} image={image} />
					))
				}
			</Grid>
		</main>

		<main class="wrapper stack gap-8">
			<Hero
				title="Currently Learning"
				tagline="Technologies I am starting to learn and adopt."
				align="start"
			/>
			<Grid variant="offset">
				{
					learning.map(([title, image]) => (
						<Card title={title} image={image} />
					))
				}
			</Grid>
		</main>
	</div>
</BaseLayout>

<style>
	.lg-pill {
		font-size: 1.1rem;
		padding: 0.1rem;
	}

	@media (min-width: 50em) {
		.lg-pill {
			font-size: 1.4rem;
			padding: 0.3rem;
		}
	}
</style>
