---
interface Props {
    title: string;
    image: string;
}

const {title, image} = Astro.props;
---

<div class="skill">
    <img src={`/assets/tech/${image}.svg`} alt={`${title} Logo`} />
    <p class="desc">{title}</p>
</div>


<style>
    .desc {
        display: block;
        font-size: 2rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        line-height: 1.1;
        font-family: var(--font-brand);
        font-weight: 600;
        color: var(--gray-100);
    }
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        background: var(--card-bg_60);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        width: 16rem;
        height: 16rem;
        transition-property: all;
		transition-duration: 0.2s;
		transition-timing-function: linear;
        box-shadow: var(--shadow-md);
    }

    .skill:hover,
    .skill:focus {
        box-shadow: var(--shadow-lg);
        background: var(--card-bg);
    }

    .skill img {
        width: 10rem;
        height: 10rem;
        padding: 1rem;
    }

    @media (prefers-contrast: more) {		
		.skill {
			background: var(--card-bg-contrast);
			border: 2px solid var(--gray-400);
		}

		.skill:hover {
			border: 2px solid var(--gray-100);
		}
	}
</style>